.forFocus{
    background-color:black;
    color: white;    
}

.forFocus:hover{
    background-color:chartreuse;
    color: black;  
    font-weight: 900;  
  }

  .forFocus:focus{
    background-color: yellow;
    font-weight: bold;
    color: black;    
  }